{% extends 'layout_member.html' %}

{%block contents %}
<h1 class="text-center">member start page</h1>

{% if session['userId'] %}
<h2 class="text-center">wecome {{session['userId']}}</h2>
<p class="text-center"><a href="/log_out" class="btn">log out</a></p>
{%else%}
<form action="/login_pro" method="POST">
    <div class="form-group">
        <label for="userId">userId:</label>
        <input type="userId" class="form-control" id="userId" name="userId">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="pwd">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default">reset</button>
</form>
{% endif %}
{% endblock %}